/* Global styling */

html, .modal {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Expletus Sans';
    src: 
      url('../fonts/expletus-sans-v14-latin-700italic.woff') format('woff'),
      url('../fonts/expletus-sans-v14-latin-700italic.woff2') format('woff2');
}
  
  @font-face {
    font-family: 'allerItalic';
    src: url('../fonts/Aller_It.woff');
}

h1 {
    font-family: Expletus Sans;
    font-size: 30px;
}

h2 {
    border-bottom: 3px solid #ee9720;
    display: inline-block;
    padding-bottom: 5px;
}

.bg-primary {
    background-color: #ee9720 !important;
    }

.banner .banner-heading h1 {
    font-family: Expletus Sans;
    font-size: 4rem;
    line-height: .8;
    font-weight: 600;
}
  
.banner .banner-heading p {
    font-family: allerItalic;
    font-size: 1.5rem;
    line-height: 1;
    margin-left: 3rem;
}

/* Sidebar calculation for landscape screens */

@media only screen and (orientation:landscape) and (min-width:1200px) {
    #sidebar__landscape__left {
        position: sticky;
        top: 351px;
        height: calc(100vh - 351px);
    }
    }
    @media only screen and (orientation:landscape) and (min-width:1200px) {
    #sidebar__landscape__right {
        position: sticky;
        top: 351px;
        height: calc(100vh - 351px);
    }
    }
  
/* Loader for Javascript loaded pages trough the API */

.loader {
border: 16px solid #f3f3f3; /* Light grey */
border-top: 16px solid #3498db; /* Blue */
border-radius: 50%;
width: 120px;
height: 120px;
animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

/* Modals */
/* Modals for the archive pages */

#google-apis-qr-code img {
width: 100%;
height: auto;
border-radius: .25rem!important;
}
.modal-close-btn {
position: absolute;
right: 15px;
}
.modal-toggle-button {
color: black!important;
}

/* Modal Youtube livesteam */

.youtube-overlay {
    transform: translateY(-100%);
    width: 822px;
    height: 445px;
    background-color: rgba(0,0,0,0.0);
    margin-bottom: -315px;
}

/* Frontpage touch */

main .explore-card {
    background-size: cover;
    background-position: center;
    -webkit-transition: margin .3s ease-in-out;
    transition: margin .3s ease-in-out;
    height: 250px;
}

/* News page */

.single-news-post {
min-height: 265px;
}
.card-title {
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.card-excerpt {
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
}

/* Buttons default */

.btn.btn-primary {
background-color: #ee9720 !important;
border-color: #ee9720 !important;
}

/* scrollDiv */

.scrollDiv {
    position: absolute;
    right: 1rem;
    bottom: 3rem;
}

.scrollDiv button {
    margin-bottom: .25rem!important;
}

.scrollModel {
    position: fixed;
    top: 50%;
    left: 30rem;
}

.scrollModel button:first-of-type {
    margin-bottom: .25rem!important;
}

/* WPML */

.wpml-ls-statics-shortcode_actions.wpml-ls.wpml-ls-legacy-dropdown-click.js-wpml-ls-legacy-dropdown-click {
    display: inline-block;
    width: fit-content;
}

a.wpml-ls-link {
    text-align: left;
}

.wpml-ls-legacy-dropdown-click .wpml-ls-flag {
    width: 50px;
    height: 40px;
    border-radius: 5px;
    transform: scale(1);
    transition: transform 100ms ease;
}

.wpml-ls-legacy-dropdown-click .wpml-ls-flag:hover {
    transform: scale(1.1);
    transition: transform 100ms ease;
}

.wpml-ls-statics-shortcode_actions, .wpml-ls-statics-shortcode_actions .wpml-ls-current-language>a {
    background: rgba(0, 0, 0, 0)!important;
}

.wpml-ls-statics-shortcode_actions, .wpml-ls-statics-shortcode_actions .wpml-ls-sub-menu, .wpml-ls-statics-shortcode_actions a {
    border-color: rgba(0, 0, 0, 0)!important;
}

.wpml-ls-statics-shortcode_actions a {
    background: #252a2e!important;
}

.wpml-ls-statics-shortcode_actions a:hover {
    background: #1e2124!important;
}

/* search page */

#PagResultsMenu, #SearchEventResults, #SearchOntdekResults, #SearchZieDoeResults, #SearchNieuwsResults {
    cursor: pointer;
}

#PagResultsMenu:hover, #SearchEventResults:hover, #SearchOntdekResults:hover, #SearchZieDoeResults:hover, #SearchNieuwsResults:hover {
    text-decoration: underline;
}

.resultsRight {
    position: absolute;
    right: 1rem;
}